/* Розділ body {} скидає відступи і поля на 0, щоб перевизначити стилі браузера за замовчуванням. */
body {   
  padding: 0;   
  margin: 0;
}

/* Розділ #sceneContainer {} встановлює інформацію про стилі для елемента sceneContainer div, який  вказаний у файлі HTML. 
Він встановлює висоту і ширину елемента sceneContainer на 100 відсотків від висоти і ширини вікна перегляду. 
Цей параметр означає, що глобус буде відображатися, займаючи все вікно, незалежно від розміру екрана (від екрану телефону до гігантського настінного екрану).
Він також встановлює колір фону елемента на чорний. */
#sceneContainer {
  height: 100vh;
  width: 100vw;
  background: rgb(0,0,0);
}

#uploadForm {
  position: absolute;
  font-size: 0.8em;
  font-family: monospace, sans-serif;
  top: 15px;
  left: 60px;
  background: #242424;
  padding: 6px;
  color: #69dcff;
}
